@model MiscellaneousShop.Models.FrontViewProductModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    var ImageFolder = "../../Images/Products/";
}

<h2>@Model.ProductName</h2>

